<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <title>marco[0] - Residência</title>

    <!-- Custom fonts for this template-->
    <link href="fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">



    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fab fa-teamspeak"></i>
                </div>
                <div class="sidebar-brand-text mx-3">marco[0] <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <% var nome = db[0].CC_PROJECT %>
                <% var nomeSplit = nome.split(' ') %>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Lista de projetos</span>
                        </a>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Projetos:</h6>
                                <a class="collapse-item" href="projeto">
                                    <%= nomeSplit[nomeSplit.length - 1] %>
                                </a>
                                <!-- <a class="collapse-item" href="projeto">LGPD</a>
                        <a class="collapse-item" href="projeto">CESAR</a> -->
                            </div>
                        </div>
                        <a class="nav-link collapsed" href="colabs">
                            <i class="fas fa-fw fa-users"></i>
                            <span>Lista de colaboradores</span>
                        </a>
                        <a class="nav-link collapsed" href="upload">
                            <i class="fas fa-fw fa-cloud-download-alt"></i>
                            <span>Refresh DATA</span>
                        </a>


                    </li>



                    <!-- Divider -->
                    <hr class="sidebar-divider">


                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">2+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">November 12, 2020</div>
                                        <span class="font-weight-bold">Alteração no quadro de colaboradores do projeto
                                            UNIT!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">November 12, 2020</div>
                                        <span class="font-weight-bold">Projeto LGPD suspenso!</span>

                                    </div>
                                </a>

                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">3</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Acompanhamento de desenvolvimento.</div>
                                        <div class="small text-gray-500">
                                            Atila Bittencourt · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Relatório de atividades.</div>
                                        <div class="small text-gray-500">Ricardo Junior · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Indicadores de performance.</div>
                                        <div class="small text-gray-500">Tiago Bockholt· 2d</div>
                                    </div>
                                </a>

                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">
                            <%= db[0].CC_PROJECT %>
                        </h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div>

                            <% var margem = 0 %>
                                <% var despesas = 0 %>

                                    <% for (let i = 0; i < db.length; i++) { %>

                                        <%  despesas += parseFloat(db[i].CC_EXPENSE_PLANNED_MONTH) %>


                                            <% } %>

                                                <% margem = db[0].CC_TOTAL - despesas %>

                                                    <% var margemBRL = margem.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %>
                        </div>


                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Margem</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                <%= margemBRL %>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-funnel-dollar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% var orcamento = parseFloat(db[0].CC_TOTAL) %>
                            <% var orcamentoBRL = orcamento.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Orçamento</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <%= orcamentoBRL %>


                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <% var startDate = db[0].PROJ_START_DATE %>
                                        <% var endDate = db[0].PROJ_END_DATE %>

                                            <% var dataInicioFormt = startDate.split('/') %>
                                                <% var dataFinalFormt = endDate.split('/') %>
                                                    <% var d = new Date(); %>

                                                        <% var day = d.getDate(); %>
                                                            <% var month = d.getMonth() + 1; %>
                                                                <% var year = d.getFullYear(); %>

                                                                    <% var dataInicio = parseInt(dataInicioFormt[1]) + ((parseInt(dataInicioFormt[0]) + 1) * 30) + (parseInt(dataInicioFormt[2]) * 360) %>
                                                                        <% var dataFinal = parseInt(dataFinalFormt[1]) + ((parseInt(dataFinalFormt[0]) + 1) * 30) + parseInt(dataFinalFormt[2]) * 360 %>
                                                                            <% var dataAtual = parseInt(day) + (parseInt(month + 1) * 30) + (parseInt(year) * 360) %>
                                                                                <% var dataCalc = dataFinal - dataAtual %>
                                                                                    <% var datafim = dataFinal - dataInicio %>

                                                                                        <% var prazo = 100 - (100 * dataCalc / datafim) %>
                                                                                            <% var resultPrazo = prazo.toFixed(2) + '%' %>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-info shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                        Prazo
                                                    </div>
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                                <%= resultPrazo %>
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="progress progress-sm mr-2">
                                                                <div class="progress-bar bg-info" role="progressbar" style="width: <%= resultPrazo %>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-hourglass-start fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <% var nEquipe = db[0].TEAM_MEMBER_NAME %>
                                        <% var colabs = [db[0].TEAM_MEMBER_NAME] %>
                                            <% var result = 0 %>
                                                <% for (let i = 0; i < db.length; i++) { %>


                                                    <%  if (nEquipe != db[i].TEAM_MEMBER_NAME) { %>
                                                        <%  nEquipe = db[i].TEAM_MEMBER_NAME %>
                                                            <% var add = colabs.push(db[i].TEAM_MEMBER_NAME) %>
                                                                <%   result++ %>
                                                                    <%   } %>
                                                                        <% } %>
                                                                            <% if(result>0){ %>
                                                                                <% result++ %>
                                                                                    <% } %>
                                </div>


                                <!-- Pending Requests Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Equipe</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <%= result %>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-users fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>






                    <div class="row">


                        <div class="col s12 m12">


                            <div>

                                <% var months = ['Jan', 'Fev', 'Mar', 'Abr', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] %>
                                    <% var monthAhead = [] %>
                                        <% for (let i = 0; i < months.length; i++) { %>

                                            <%  if (month >= 10) { %>
                                                <%      var add = monthAhead.push(months[8]) %>
                                                    <%     var add = monthAhead.push(months[9]) %>
                                                        <%     var add = monthAhead.push(months[10]) %>
                                                            <%      break %>
                                                                <%  } else if (month == i) { %>
                                                                    <%      var addMonth = monthAhead.push(months[i - 1]) %>
                                                                        <%   var addMonth = monthAhead.push(months[i]) %>
                                                                            <%  var addMonth = monthAhead.push(months[i + 1]) %>
                                                                                <%   break %>
                                                                                    <%  } %>
                                                                                        <% } %>
                            </div>

                            <!-- DataTales Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Colaboradores</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th style="text-align: center" ;>
                                                        Dez
                                                    </th>
                                                    <th style="text-align: center" ;>
                                                        Jan
                                                    </th>
                                                    <th style="text-align: center" ;>
                                                        Fev
                                                    </th>

                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% for (let i = 0; i < colabs.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%=colabs[i] %>
                                                        </td>
                                                        <td style="text-align: center; color: orange;"><b><%= db[i].ALLOC_PERCENTAGE %></td>
                                                    <td style="text-align: center; color: orange;"><b><%= db[i].ALLOC_PERCENTAGE %></td>
                                                    <td style="text-align: center; color: orange;"><b><%= db[i].ALLOC_PERCENTAGE %></td>

                                                </tr>
                                                <% } %>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>


            <div class="mt-4 text-center small">
                <span class="mr-2 ">
                    <i class="fas fa-circle text-Al "></i> Alocação ideal
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-sc"></i> Sobrecarregado
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-Oc"></i> Ocioso
                </span>

            </div>


            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; marco[0]<a href="https://gitlab.com/gilbertoljunior/projeto-residencia-cesar"
                                style="margin-left: 50px;">Gitlab</a></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Bootstrap core JavaScript-->
    <script src="jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="../src/models/test.js"></script>

</body>

</html>